@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Projeto de um app simples para elevador. 
        Contém métodos como: 
        iniciar o app, onde informa a capacidade total do elevador e quantidade de andares atendidos;
        entrar , que registra a entrada de pessoas no elevador e se o elevador já atingiu sua capacidade máxima;
        sair,  que registra a saída de pessoas do elevador e se o elevador já está vazio;
        subir, sobe um andar e avisa se o andar é válido;
        descer, desce um andar e avisa se o andar é válido.
    </h1>
    <img src="img1.png"/>
    <img src="img2.png"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
